*.modif
*.[oa]
*.swp
*.pyc
build/*
*.back
.svn/*
demos/rtl/.svn/*
demos/maze/.svn/*
demos/imperative/.svn/*
generators/javascript/.svn/*
generators/python/.svn/*
generators/dart/.svn/*
language/common/.svn/*
demos/codetw/.svn/*
demos/code/.svn/*
language/en/.svn/*
language/zh_tw/.svn/*
tests/generators/.svn/*
demos/blockfactory/.svn/*
media/.svn/*
*/.svn/*
